#Configuração do db
db.url=jdbc:postgresql://localhost:5432/sd_project
db.username=user
db.password=senha


# Configuração do Flyway
flyway.url=jdbc:postgresql://localhost:5432/sd_project
flyway.user=user
flyway.password=senha
flyway.locations=classpath:db/migrations
